body{
    background-color: #eaefef;
    font-family: system-ui;
}
* {
    margin: 0;
    padding: 0;
}
:root {
    --black: #333;
    --border: 2px solid var(--black);
}
ul {
    list-style: none;
}

a {
    text-decoration: none;
}
#navber {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #d8c1026e;
    padding: 10px;
}
#navber .search {
    width: 500px;
    padding: 10px;
    border-radius: 20px;
    position: relative;
    right: 100px;
    height: 50px;
}

.dropdown .dropdown-menu{
    position: absolute;
  display: none;
  background-color: #d8c1026e;
  padding: 0.8em;
  z-index: 1;
  width: 150px;
  border-radius: 10px;
  text-align: end;
  /* margin-top: 2px; */
}
.dropdown:hover .dropdown-menu{
    display: block;
}
.dropdown .dropdown-menu a {
    color: #000;
}
.dropdown .dropdown-menu li {
    padding: 10px 7px;
   
}
.dropdown .dropdown-menu li:hover {
    background-color: aliceblue;
    border-radius: 10px;
    margin: 0px -8px;
}
.dropdown .dropdown-menu li i {
    margin-left: 20px;

}

.dropdown .btn-primary{
    background-color: #fff;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
}

.container{
    width: 1000px;
    margin: auto;
    transition: 0.5s;
}

.container span.exit{
    background-color: red;
    width: 150px;
    height: 50px;
    border-radius: 20px 0;
    position: absolute;
    top: 20px;
    left: 50px;
    color: #fff;
    font-size: 23px;
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 1s ease;
}
.container span.exit:hover{
    background-color: #ebd93f;
    transform: scale(0.7);
    border-radius: 50% 0 0 50%;
    color: black;
}
header{
    display: grid;
    /* grid-template-columns: 1fr 50px; */
    /* margin-top: 50px; */
}
header .shopping{
    position: relative;
    text-align: right;
    /* transition: all 0.2s ease; */
    margin-right: 100px;
    background-color: #fff;
    padding: 5px;
    border-radius: 10px;
    right: 60px;
    cursor: pointer;
}
header .shopping:hover{
    background-color: #e9e4e4;
}
header .shopping img{
    width: 40px;
}

header .shopping span{
    background: red;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    position: absolute;
    top: -5px;
    left: 80%;
    padding: 3px 10px;
}

.cond {
    background-color: #000000d1;
    width: 60px;
    height: 150px;
    position: absolute;
    left: 410px;
    top: 134px;
    border-radius: 0 0 25px 25px;
}
.cond .line {
    width: 758px;
    height: 320px;
    position: absolute;
    top: 1px;
    border-radius: 30px 0 0 30px;
    border: 1px solid var(--black);
    right: -669px;
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 15px;
    margin-left: 15px;
    background-color: #fff;
    width: 50%;
    margin-left: 25%;
    margin-top: 60PX;
    border-radius: 30px;
}
.logo .logo-txt {
    border-bottom: var(--border);
    width: 250px;
    padding: 10px;
    border-left: var(--border);
    border-radius: 20px;
    margin-right: 20px;
    position: relative;
    left: 30px;
}
.logo .logo-txt h2 {
    color: #e7c337;
    font-family: "Old Standard TT", serif;
    font-size: 28px;
}
.logo img {
    width: 35%;
    position: relative;
    left: 100px;
    border-left: 3px solid var(--black);
}

.list-menu {
    display: flex;
    margin-top: 70px;
}
.list-menu ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    left: 55%;
    top: 35px;
    margin-left: 60px;
}
.list-menu ul li {
    padding: 0px 20px;
    background-color: #dbdad7;
    margin-right: 30px;
    border-radius: 14px;
    height: 45px;
    display: flex;
    align-items: center;
}
.list-menu ul li:hover {
    background-color: #fff;
}
.list-menu ul h3,
.list-menu ul h3 a {
    color: #000;
    font-size: 16px;
    font-weight: 600;
}

.list{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 20px;
    row-gap: 20px;
    margin-top: 50px;
    
}
.list .item{
    text-align: center;
    background-color: #ffffff;
    padding: 20px;
    box-shadow: 0 50px 50px #75767685;
    letter-spacing: 1px;
    border-radius: 10%;
    transition: 0.2s ease;
}
.list .item:hover{
    transform: scale(1.02);
}
.list .item img{
    width: 100%;
    height: 200px;
    object-fit: cover;
    /*display: flex;
    justify-content: center;
    align-items: center;*/
    
}
.list .item .title{
    font-weight: 600;
}
.list .item .price{
    margin: 10px;
}
.list .item button{
    background-color: #1C1F25;
    color: #fff;
    width: 100%;
    padding: 10px;
    border-radius: 35%;
    cursor: pointer;
    transition: 0.7s ease;
    /*box-shadow: 0 10px 10px #453E3B;*/
}
.list .item button:hover {
    background-color: #E8BC0E;
    box-shadow: 0 10px 10px #453E3B;
    /*transform: scale(1.4);*/
}



.card{
    position: fixed;
    top:0;
    left: 100%;
    width: 500px;
    background-color: #453E3B;
    height: 100vh;
    transition: 0.5s;
}
.active .card{
    left: calc(100% - 500px);
}
.active .container{
   transform: translateX(-200px);
}
.card h1{
    color: #E8BC0E;
    font-weight: 100;
    margin: 0;
    padding: 0 20px;
    height: 80px;
    display: flex;
    align-items: center;
}
.card .checkOut{
    position: absolute;
    bottom: 0;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);

}
.card .checkOut div{
    background-color: #E8BC0E;
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    cursor: pointer;
}
.card .checkOut div:nth-child(2){
    background-color: #1C1F25;
    color: #fff;
}
.listCard li{
    display: grid;
    grid-template-columns: 100px repeat(3, 1fr);
    /* color: #fff; */
    row-gap: 10px;
    background-color: #fff;
    border-radius: 5px 0 0 5px;
    margin-top: 15px;
    margin-left: 40px;
    margin-right: 10px;
}
.listCard li div{
    display: flex;
    justify-content: center;
    align-items: center;
}
.listCard li img{
    width: 90%;
}
.listCard li button{
    background-color: #918c8c54;
    /* border: none; */
    width: 15px;
    font-weight: 800;
}
.listCard .count{
    margin: 0 10px;
}
/* Footer Start */

#footer {
    background: #383848;
    text-align: center;
    color: #fff;
    padding: 15px 0;
    font-size: 14px;
    margin: 30px 0 0 0;
}

#footer a {
    color: #fff;
}

#footer a span:hover {
    color: blue;
}

/* Footer End */

@media screen and (max-width: 520px){
    #navber {
        padding: 5px 10px;
    }
    #navber .search {
        width: 250px;
        right: 15px;
    }
    header .shopping {
        margin: 0;
        right: 10px;
    }
    /* logo */
    .logo {
        width: 90%;
        margin-top: 30px;
        border-radius: 20px;
        margin-left: 12px;
    }
    .logo img {
        left: 45px;
        border-left: 2px solid var(--black);
    }
    .logo .logo-txt {
        width: 160px;
        padding: 8px;
        border-radius: 15px;
        margin-right: 10px;
        left: 35px;
    }
    .logo .logo-txt h2 {
        font-size: 19px;
    }
    .logo .logo-txt span {
        font-size: 10px;
    }
    .cond {
        width: 35px;
        height: 80px;
        left: 26px;
        top: 96px;
        border-radius: 0 3px 15px 15px;
    }
    .cond .line {
        width: 388px;
        height: 156px;
        top: -1px;
        right: -341px;
        border-radius: 20px 0 0 20px;
    }
    /* .container */
    .container {
        width: 100%;
    }
    .list {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    .list .item {
        width: 85%;
        border-radius: 6%;
    }
    .list-menu ul {
        left: 0;
        margin-left: 100px;
    }
    .list-menu ul li {
        margin-right: 15px;
        height: 30px;
        border-radius: 10px;
    }
    .list-menu ul h3 a{
        font-size: 13px;
    }
    /* card */
    .active .card {
        left: calc(100% - 300px);
    }
    .card {
        width: 300px;
        height: 75vh;
    }
    .listCard li {
        margin-top: 10px;
        margin-left: 10px;
        margin-right: 12px;
        font-size: 12px;
    }

}